* {
  color: rgb(238, 59, 89);
}

footer p {
  color: black;
}

main {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

#info, section {
  padding: 20px;
  margin-bottom: 20px;
}

.detail-section {
  border-top: 1px solid rgb(238, 59, 89);
}

h2, h3, h4, p {
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
}


/* overview style start */
#overview-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  /* margin-bottom: 20px; */
}

#overview img {
  width: 300px;
  height: 300px;
  border: 1px solid rgb(238, 59, 89);
  margin-bottom: 20px;
}
/* overview style end */


/* other section style start */
.detail-section img, #ps-canvas {
  width: 60%;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(238, 59, 89);
}
/* other section style end */


/* media queries for smaller laptop screen */
@media screen and  (max-width: 980px){
  main {
    width: 95%;
    margin: auto;
  }

  #overview-body {
    justify-content: space-around;
  }

  .detail-section img, #ps-canvas {
    width: 90%;
  }
}


/* media queries for tablets */
@media screen and  (max-width: 768px){
  
}


/* media queries for phones */
@media screen and  (max-width: 575px){
  
}