
/* hero style start */
.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center top;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero p {
  font-size: 16px;
  width: 320px;
  color: white;
  padding: 10px;
}
/* hero style end */


/* about-me style start */
.flex-box-content p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}
/* about-me style end */


/* eq style start */
#eq {
  background: linear-gradient(rgba(255,209,229, 0.5), rgba(255,153,153,0.5));
}

.eq-grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.eq-grid-head {
  grid-column: 2;
  line-height: 1.7;
  font-size: 18px;
}

.eq-grid-item {
  padding-bottom: 10px;
}

.eq-grid-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.eq-grid-item ul {
  list-style: none;
  padding-left: 10px;
}

.eq-grid-item ul li {
  font-size: 20px;
  margin-bottom: 5px;
}
/* eq style end */


/* core-skills style start */
.skill-grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr repeat(3, 1.5fr), 1fr;
}

.skill-grid-head {
  font-weight: bold;
  font-size: 20px;
}

.skill-grid-item {
  padding: 10px;
  margin-bottom: 5px;
}

.skill-grid-item-bg {
  background: linear-gradient(rgba(255,153,153,0.5), rgba(255,209,229, 0.5), rgba(255, 255, 255, 0.5));
}

.skill-grid-item ul {
  list-style: "↪ ";
  padding-left: 20px;
  line-height: 1.3;
}

.skill-grid-item ul li {
  font-size: 18px;
  margin-bottom: 10px;
}
/* core-skills style end */


/* competitions style start */
#competitions {
  background: linear-gradient(rgba(255,209,229, 0.5), rgba(255,153,153,0.5));
}

#competitions ul {
  margin: 20px 30px;
}

#competitions li {
  font-size: 18px;
  margin-bottom: 10px;
}
/* competitions style end */


/* media queries for smaller laptop screen */
/* media queries for tablets */


/* media queries for phones */
@media screen and (max-width: 575px) {

  .eq-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .eq-grid-head {
    grid-column: 1;
    padding-left: 10px;
  }

  .eq-grid-item h3 {
    margin-top: 30px;
  }

  .skill-grid-container {
    grid-template-columns: 1fr;
  }

  .skill-grid-item-bg {
    background: white;
  }

  .skill-grid-head {
    background: linear-gradient(rgba(255,153,153,0.5), rgba(255,209,229, 0.5), rgba(255, 255, 255, 0.5));
  }
}